# {{ ansible_managed }}

server {

{% for key,value in item.server|dictsort if key != 'file_name' %}
    {{ key }} {{ value }};
{% if nginx_separate_logs_per_site == True %}
	access_log {{ nginx_log_dir}}/{{ item.server.server_name}}-{{ nginx_access_log_name}};
	error_log {{ nginx_log_dir}}/{{ item.server.server_name}}-{{ nginx_error_log_name}};
{% endif %}

{% endfor %}
{% if 'location' in item %}
{% for location in item.location if 'location' in item %}
    location {{ location.name }} { 
{% for key,value in location|dictsort if key != 'name' %}
{% if value is iterable and value is not string %}
{% for v in value %}
        {{ key }} {{ v }};
{% endfor %}
{% else %}
        {{ key }} {{ value }};
{% endif %}
{% endfor %}

    }
{% endfor %}
{% endif %}
}

