# {{ ansible_managed }}

server {

{% for k,v in item.server.iteritems() %}
    {{ k }} {{ v }};
{% endfor %} 

{% for loc in item.location %}
    location {{ loc.name }} {
{% for k,v in loc.iteritems() if k != 'name' %} 
        {{ x }} {{ y }};
{% endfor %}
    }
{% endfor %}
}

